<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{appTitle}}</title>
	<link rel="shortcut icon" href="/aurora.ico" />
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css' />

	%%Bundle=wiki.css%%
	%%Bundle=wiki.js%%

	%%HelperBundles%%

	%%Head%%
</head>
<body>
	<div class="logonContainer">
	{{logonForm}}
    <span class="logonMessage">{{message}}</span>
	</div>
</body>
</html>