<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  	<section name="aspNetAdapter" type="AspNetAdapter.AspNetAdapterWebConfig"/>  
  </configSections>
	<connectionStrings>
		<add name="WikiConnectionString" connectionString="Data Source=.\Express2012;Initial Catalog=Wiki;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="title" value="Miranda - An Tiny Wiki" />
		<add key="appName" value="Miranda" />
		<add key="author" value="Frank Hale" />
		<add key="modifiedDate" value="21 November 2014" />
	</appSettings>

  <aspNetAdapter>
    <application name="Engine" type="Aurora.Engine" />
  </aspNetAdapter>
  
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy autoDetect="False" usesystemdefault="True" />
		</defaultProxy>
	</system.net>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
		<customErrors mode="On" />
	</system.web>
	<system.webServer>
		<handlers>
			<add verb="*" path="*" name="AspNetAdapterHandler" type="AspNetAdapter.AspNetAdapterHandler" />
		</handlers>
		<modules>
			<add type="AspNetAdapter.AspNetAdapterModule" name="AspNetAdapterModule" />
		</modules>
	</system.webServer>
</configuration>